doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='csrf-token', content=_csrf)
    meta(name='decorator', content='atl.general')
    link(rel='stylesheet', href='//aui-cdn.atlassian.com/aui-adg/5.8.9/css/aui.css', media='all')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(src='//aui-cdn.atlassian.com/aui-adg/5.8.9/js/aui.js')
    script(data-requirecontext="_" data-requiremodule="connect-bitbucket" src="https://bitbucket.org/atlassian-connect/all.js")
    script(src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.4.0/lodash.min.js')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-69159384-3', 'auto');
        ga('send', 'pageview');
    title #{title} - Location, Location, Location
    != css('location')

  block content
