extends layout

block content
  body.aui-page-focused
    #page
      header#header(role="banner")
        nav.aui-header(role="navigation")
          .aui-header-inner
            .aui-header-primary
              h1#logo.aui-header-logo.aui-header-logo-bitbucket
                span.aui-header-logo-device
                  | AUI
      section#content(role='main')
        header.aui-page-header
          .aui-page-header-inner
            .aui-page-header-main
              h1
                | #{title}
        .aui-page-panel
          .aui-page-panel-inner
            section.aui-page-panel-content
              include moduleDetail
