block content

h3
  | Module Details

table(class="aui")
  tr
    th
      | Module
    td
      | #{module}
  if location
    tr
      th
        | Location
      td
        | #{location}

h3
  | Context Parameters

table(class="aui")
  each val, key in contextParameters
    tr
      th
        | #{key}
      td
        | #{val}

if exampleJson
  h3
    | Example JSON
  code
    pre
      = exampleJson

